In [1]:
import pandas as pd
import numpy as np

df_demo = pd.read_csv(r"C:\Users\chuan\Desktop\Ironhack\Week 5\week 5&6 Project\data\raw\df_final_demo.txt")
df_experiment_client = pd.read_csv(r"C:\Users\chuan\Desktop\Ironhack\Week 5\week 5&6 Project\data\raw\df_final_experiment_clients.txt")
df_web_data_1 = pd.read_csv(r"C:\Users\chuan\Desktop\Ironhack\Week 5\week 5&6 Project\data\raw\df_final_web_data_pt_1.txt")
df_web_data_2 = pd.read_csv(r"C:\Users\chuan\Desktop\Ironhack\Week 5\week 5&6 Project\data\raw\df_final_web_data_pt_2.txt")

In [15]:
# EDA & Data Cleaning 
# 1. Combination of 4 datasets 
#df = pd.concat([df_demo, df_experiment_client, df_web_data_1, df_web_data_2], ignore_index=True) # Checked all rows/columns combined 
#df.tail(10)

In [16]:
#df.dtypes

In [4]:
# 2. Map the consistancy of the name of columns 
df.columns=df.columns.str.replace('_', ' ').str.title()

In [14]:
df.shape

(885857, 14)

In [5]:
# 3. Drop Duplicates 
df.drop_duplicates(inplace=True)

In [6]:
# 4. Check and handle Missing Value 
# 4.1 Check 
df.isnull().sum()

Client Id                0
Clnt Tenure Yr      815262
Clnt Tenure Mnth    815262
Clnt Age            815263
Gendr               815262
Num Accts           815262
Bal                 815262
Calls 6 Mnth        815262
Logons 6 Mnth       815262
Variation           835357
Visitor Id          141216
Visit Id            141216
Process Step        141216
Date Time           141216
dtype: int64

In [7]:
# 4.2 Replace missing values 
# --> Float values with the mean value of their respective columns: 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'num_accts', 'float64', 'bal', 'calls_6_mnth', 'logons_6_mnth'
# --> Object (string) values with "Unknown": ‘gendr’, 'Variation', 'visitor_id', 'visit_id', 'process_step', 'object', 'date_time'  

def replace_missing_value(df):
    # Create a copy of the original DataFrame
    new_df = df.copy()
    
    for column in new_df.select_dtypes(include=[np.float64]):
        new_df[column].fillna(new_df[column].mean(), inplace=True)

    for column in new_df.select_dtypes(include=[object]):
        new_df[column].fillna("Unknown", inplace=True)
    
    display(new_df)

    return new_df

new_df = replace_missing_value(df)

C:\Users\chuan\AppData\Local\Temp\ipykernel_25484\1285856364.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df[column].fillna(new_df[column].mean(), inplace=True)
C:\Users\chuan\AppData\Local\Temp\ipykernel_25484\1285856364.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_df[column].fillna("Unknown", inplace=True)

,Client Id,Clnt Tenure Yr,Clnt Tenure Mnth,Clnt Age,Gendr,Num Accts,Bal,Calls 6 Mnth,Logons 6 Mnth,Variation,Visitor Id,Visit Id,Process Step,Date Time
0,836976,6.00000,73.000000,60.50000,U,2.000000,45105.300000,6.000000,9.00000,Unknown,Unknown,Unknown,Unknown,Unknown
1,2304905,7.00000,94.000000,58.00000,U,2.000000,110860.300000,6.000000,9.00000,Unknown,Unknown,Unknown,Unknown,Unknown
2,1439522,5.00000,64.000000,32.00000,U,2.000000,52467.790000,6.000000,9.00000,Unknown,Unknown,Unknown,Unknown,Unknown
3,1562045,16.00000,198.000000,49.00000,M,2.000000,67454.650000,3.000000,6.00000,Unknown,Unknown,Unknown,Unknown,Unknown
4,5126305,12.00000,145.000000,33.00000,F,2.000000,103671.750000,0.000000,3.00000,Unknown,Unknown,Unknown,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896618,9668240,12.05295,150.659367,46.44224,Unknown,2.255528,147445.240641,3.382478,5.56674,Unknown,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
896619,9668240,12.05295,150.659367,46.44224,Unknown,2.255528,147445.240641,3.382478,5.56674,Unknown,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
896620,9668240,12.05295,150.659367,46.44224,Unknown,2.255528,147445.240641,3.382478,5.56674,Unknown,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
896621,9668240,12.05295,150.659367,46.44224,Unknown,2.255528,147445.240641,3.382478,5.56674,Unknown,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
896622,674799,12.05295,150.659367,46.44224,Unknown,2.255528,147445.240641,3.382478,5.56674,Unknown,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

--> Client behavior analysis

Answer the following questions about demographics:

1. Who are the primary clients using this online process?

2. Are the primary clients younger or older, new or long-standing?

Next, carry out a client behaviour analysis to answer any additional relevant questions you think are important.

In [8]:
# Demographic description of clients 
# 1. The tenure of clients 
# 1.1 The average tenure year 
new_df['Clnt Tenure Yr'].describe()

count    885857.000000
mean         12.052950
std           1.939876
min           2.000000
25%          12.052950
50%          12.052950
75%          12.052950
max          62.000000
Name: Clnt Tenure Yr, dtype: float64

In [9]:
# 1.2 The average tenure month 
new_df['Clnt Tenure Mnth'].describe()

count    885857.000000
mean        150.659367
std          23.173510
min          33.000000
25%         150.659367
50%         150.659367
75%         150.659367
max         749.000000
Name: Clnt Tenure Mnth, dtype: float64

In [10]:
# 1.3 Gender ratio 
new_df['Gendr'].value_counts()

Gendr
Unknown    815262
U           24122
M           23724
F           22746
X               3
Name: count, dtype: int64

In [11]:
# 1.4 Age distribution of clients 
new_df['Clnt Age'].describe()

count    885857.000000
mean         46.442240
std           4.401298
min          13.500000
25%          46.442240
50%          46.442240
75%          46.442240
max          96.000000
Name: Clnt Age, dtype: float64

In [12]:
# AB test variation
variation_counts = df['Variation'].value_counts()
variation_proportion = variation_counts/variation_counts.sum()
variation_proportion

Variation
Test       0.53402
Control    0.46598
Name: count, dtype: float64

Client behavior analysis

1. Client tunure: The average client tunure year is 12, which converts into 150 months.

2. Gender ratio: one third each of men, women and unisex.

3. The age range of the clients is from 13 to 96, the average age of the users is 46, which are middle-aged people.

In [13]:
# Define Metrics and KPIs 

# 1. Completion rate: confirm counted as complete the process 
new_df['Process Step'].value_counts()

Process Step
start      234999
step_1     162797
Unknown    141216
step_2     132750
step_3     111589
confirm    102506
Name: count, dtype: int64